<div>
    <span class="language_item"><%=pair.src_name%></span> -> <span class="language_item"><%=pair.target_name%></span>
    <a class="remove" href="#" pair="<%=pair.src%>_<%=pair.target%>">Remove</a>
</div>