/*******************************************************/
/*                       POPUP                         */
/*******************************************************/
#popup_container {
    width: 280px;
    height: 130px;
    font-family: Arial, Sans-Serif;
    font-size: 14px;
}
#popup_container .save_message
{
    background-color: #F8E6CA;
    font-family: Arial;
    font-size: 12px;
    padding: 5px 5px;
    margin-top: 2px;
    border-radius: 5px;
    display: none;
}
#popup_container .options {
    float: left;
}
#popup_container .preferences {
    float: right;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
#popup_container #iframe_share {
    position: absolute;
    bottom: 5px;
    left: 8px;
    width: 100%;
    height: 65px;
    padding: 0px;
    margin: 0px;
}