<table class="vocabbi_element vocabbi-tooltip" cellpadding="0" cellspacing="0" dir="ltr" >
    <tr>
        <td class="vocabbi-tooltip-a vocabbi_element" style="background-color:<%=background_color%> !important;"></td>
        <td class="vocabbi-tooltip-b vocabbi_element" style="background-color:<%=background_color%> !important;"></td>
        <td class="vocabbi-tooltip-c vocabbi_element" style="background-color:<%=background_color%> !important;">
            <img class="vocabbi-speaker vocabbi_element" src="<%= root_path%>images/listen.png" alt="Listen" />
        </td>
    </tr>
</table>